/* stylelint-disable comment-empty-line-before */
/* stylelint-disable value-list-comma-space-before */
/* stylelint-disable font-family-name-quotes */
body {
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  height: 640px;
  margin: auto;
  width: 360px;
}

.start-recipe-btn {
  position: fixed;
  bottom: 0;
  color: white;
  cursor: pointer;
  position: fixed;
  border-radius: 200px;
  padding-bottom: 10px;
  z-index: 10;
}

.checked {
  text-decoration: line-through solid;
  text-decoration-color: black;
}

p {
  font-size: 1rem;
}

.recipe-list::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgb(103, 196, 91);
  margin-right: 6px;
}

.recipe-list {
  display: flex;
  align-items: center
}